footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    background: rgb(240, 240, 240) !important;
    box-shadow: rgba(150, 190, 238, 0.2) 0px 0px 20px 3px;
    width: 100%;
    height: 50px;
    padding: 0;

}