.ant-drawer-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#updateprofil>span {
    position: absolute;
    top: 25px;
    left: 44%;
}

.titleUpdateprofil {
    text-align: center;
}

.containerUlprofil {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-top: 30px;
}

.containerUlprofil li {
    margin-bottom: 15px;
    list-style: none;
}

.containerTopProfil {
    display: flex;
    gap: 20px;
    align-items: center;
}

.containerTopProfil span {
    position: relative;
    top: 5px;
}

.profildescription {
    display: flex;
    margin-top: 0;
}